body {
    background-color:plum;
    color: purple;
    font-size: 15px;
}

span {
    font-size: 28px;
}

#cam,
#result {
    border: 4px double black;
    width: 350px;
    height: 300px;
}

#result_hg1,
#result_hg2 {
    color: black;
}

.gesture_name {
    font-size: 40px;
}

.gesture {
    font: 48px;
}